<div class="component-container">
  <div class="card">
      <div class="card-header font-weight-bold text-uppercase py-2 table-title">
          <span class="text-center">
             Reports
          </span>
      </div>

      <div *ngIf="isLoading" class="loader" >
          <div class="spinner-border" role="status"></div>
      </div>
      <div *ngIf="!isLoading" class="card-body">
        <div id="table" class="table-responsive">
          <table class="table table-striped fa-check text-successtable-border border-light">
          <thead class="border-light">
            <tr>
              <th class="text-center">Employee Id</th>
              <th class="text-center">Text</th>
              <th class="text-center">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports">
              <td>
                <span>{{report.employeeId}}</span>
              </td>
              <td>
                <span>{{report.reportText}}</span>
              </td>
                <td>
                <span>{{report.reportDate}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>